<div class="links-section">
    <div class="links-title">Дополнительные материалы</div>
    <div class="link-buttons">
        <button class="link-btn neon-border" data-action="case">
            Кейс внедрения в ЧУЗ «КБ РЖД-Медицина»
        </button>
        <button class="link-btn neon-border" data-action="reviews">
            Отзывы клиентов
        </button>
        <button class="link-btn neon-border" data-action="docs">
            Техническая документация
        </button>
    </div>
</div>